<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ModuloGestion.My.MySettings.GestionEmpresaConnectionString"
      connectionString="Data Source=Portatil-DELL;Initial Catalog=GestionEmpresa;Persist Security Info=True;User ID=sa;Password=laura2007"
      providerName="System.Data.SqlClient" />    
  </connectionStrings>
  <startup>
    <!--<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />-->
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
</configuration>
